<div id="home" class="h-24 -mt-24 scroll-mt-24"></div>
<section class="w-full flex flex-row justify-between mt-44 md:mt-80 fluid-horizontal-home-padding">

    <!-- Texto -->
    <div class="w-full flex flex-col gap-1 justify-start">
        <h1 class="text-4xl text-white font-semibold">Sebastian Ramirez Henao</h1>
        <p class="text-blue-300 text-xl">Desarrollador de software.</p>
        <p class="text-white"> <span class="text-blue-300"></span>
            Soy un <span class="text-blue-300">desarrollador junior</span> enfocado en el  <span class="text-blue-300">desarrollo de plataformas web</span>. 
            Me apasiona crear soluciones digitales que aporten valor, combinando tanto la <span class="text-blue-300">programación</span> 
            como la <span class="text-blue-300">planeación de proyectos</span>. Siempre busco el <span class="text-blue-300">aprendizaje continuo</span> 
            y mejorar mis habilidades para <span class="text-blue-300">crecer profesionalmente</span> y aportar en cada equipo en el que participo.
        </p>

        <div class="w-full flex flex-row gap-4 mt-4">
            <a href="docs/Sebastian_Ramirez_CV.pdf" download="Sebastian_Ramirez_CV.pdf">
                <button class="rounded-lg text-white font-semibold border border-white py-2 px-4">
                    Descargar CV
                </button>
            </a>
        </div>

        <div class="w-full flex flex-wrap gap-4 mt-4 text-lg text-white">
            @for( skill of skills; track $index) {
                <div class="flex gap-2 items-center">
                    <i  [class]="skill.icon" class="text-blue-300"></i>
                    <p>
                        {{ skill.label }}
                    </p>
                </div>
            }
        </div>
    </div>
  
    <!-- Contenedor de la imagen -->
    <div class="w-8/12 ml-20 hidden md:block">

        <!-- Imagen -->
        <img src="images/Mi-Avatar.png" alt="img-avatar" class="h-[550px] drop-shadow-[0_0px_1px_rgba(59,130,246,0.6)] z-10 -mt-32">
        
    </div>

</section>

<app-scroll-arrow [targetSection]="'experience-section'" [marginTop]="'mt-36'"></app-scroll-arrow>
