/* Esta es una clase para controlar el margen en la pantalla en las secciones (tambien se puede hacer con clamp()) */
.fluid-horizontal-home-padding {
  padding-inline: 1rem;
}

/* Este es un media query para que el margen cambie en la pantalla de tablets en las secciones */
@media (min-width: 768px) {
  .fluid-horizontal-home-padding {
    padding-inline: 5vw;
  }
}

/* Este es un media query para que el margen cambie en la pantalla de desktops en las secciones */
@media (min-width: 1100px) {
  .fluid-horizontal-home-padding {
    padding-inline: 24vw;
  }
}