@keyframes spin-slow {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin-reverse {
  0%   { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 18s linear infinite;
}

.animate-spin-fast {
  animation: spin-slow 6s linear infinite;
}

.animate-spin-reverse-fast {
  animation: spin-reverse 10s linear infinite;
}

.animate-spin-fast-1 {
  animation: spin-slow 8s linear infinite;
}

.animate-spin-reverse-fast-1 {
  animation: spin-reverse 12s linear infinite;
}

.animate-spin-fast-2 {
  animation: spin-slow 10s linear infinite;
}

.animate-spin-reverse-fast-2 {
  animation: spin-reverse 14s linear infinite;
}