.card-gradient {
  background: 
  radial-gradient(
    ellipse 100% 500px at top,
    rgba(64, 137, 255, 0.466) 0%,   /* azul tenue brillante */
    transparent 100%
  ),
  linear-gradient(
    to bottom,
    #010c1d,
    #010c1d
  );
}

.box-area {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
}

@media (min-width: 680px) {
  .box-area {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1400px) {
  .box-area {
    grid-template-columns: repeat(3, 1fr);
  }
}