<section class="mt-20 lg:px-[clamp(1rem,25vw,25rem)]">
    <div class="flex flex-col gap-3">
        <h2 class="text-4xl text-white font-semibold">Mis Proyectos</h2>
     
        <p class="text-white">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vitae distinctio molestias suscipit 
             autem, eaque ipsa eos et vel, odio, dolorum totam ut similique quis libero? Minus, beatae doloremque.
             Doloremque quisquam voluptatibus inventore ipsum recusandae soluta reiciendis quasi officia accusamus
             tenetur. Sapiente magnam nisi hic harum voluptatem delectus corrupti deleniti nemo natus distinctio.
             Minus architecto modi deleniti ea quod tempora, saepe delectus omnis quae quos inventore rem sapiente
             provident consequuntur eaque accusamus, pariatur doloribus ducimus, neque placeat quo recusandae
             totam! Distinctio qui consequatur esse alias veniam ad sed iusto libero eum voluptatibus explicabo
             vitae debitis, totam doloremque ut aliquid ex.
        </p>
    </div>

   <!-- Filtros -->
    <app-filters></app-filters>

    <!-- Tarjetas de proyectos -->
    <app-cards></app-cards>

</section>
