<section class="mt-20 scroll-mt-[80px] fluid-horizontal-padding" id="projects">
    <div class="flex flex-col gap-3">
        <h2 class="text-4xl text-white font-semibold">Mis Proyectos</h2>
        
        <p class="text-white">
            <span class="text-blue-300">Aquí encontrarás una selección de mis proyectos más destacados</span>, donde combino creatividad para transformar ideas en soluciones digitales funcionales.
            Cada proyecto refleja mi <span class="text-blue-300">pasión por el desarrollo</span>, mi compromiso con el <span class="text-blue-300">aprendizaje continuo</span> y mi interés en seguir <span class="text-blue-300">creciendo profesionalmente</span>.
            <br>
            <br>
            He trabajado en proyectos <span class="text-blue-300">frontend, backend y fullstack</span>, aplicando metodologías ágiles y enfocándome en crear experiencias que sean <span class="text-blue-300">eficientes, escalables y fáciles de usar</span>.
            Mi objetivo es que cada desarrollo aporte valor real y represente una oportunidad para innovar y aprender algo nuevo en el proceso.
        </p>
    </div>

   <!-- Filtros -->
    <app-filters></app-filters>

    <!-- Tarjetas de proyectos -->
    <app-cards></app-cards>

</section>
