.menu-gradient {
  background: 
  radial-gradient(
    ellipse 80% 200px at top left,
    rgba(59, 130, 246, 0.2) 0%,   /* azul tenue brillante */
    transparent 100%
  ),
  linear-gradient(
    to bottom,
    #010c1d,
    #010c1d
  );
}