<section class="flex flex-col gap-8 mt-24 lg:px-[clamp(1rem,25vw,25rem)]">
    <h2 class="text-4xl text-white font-semibold">Sobre mi</h2>

    <div class="w-full flex flex-row gap-4">
        <div class="w-full h-[300px] -rotate-[10deg] border-8 border-b-[40px] border-white shadow-lg shadow-white/20">
            <img src="images/gallery4.jpg" alt="img" class="w-full h-full object-cover">
        </div>

        <div class="w-full h-[300px] rotate-12 border-8 border-b-[40px] border-white shadow-lg shadow-white/20">
            <img src="images/gallery5.png" alt="img" class="w-full h-full object-cover">
        </div>

        <div class="w-full h-[300px] -rotate-[20deg] border-8 border-b-[40px] border-white shadow-lg shadow-white/20">
            <img src="images/gallery4.jpg" alt="img" class="w-full h-full object-cover">
        </div>
    </div>

    <div class="flex flex-col gap-4 mt-16 text-white">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam harum cupiditate, voluptates repudiandae nemo 
            libero ipsam consectetur nostrum! Doloremque accusantium voluptatem inventore molestiae, eaque accusamus dolore ex 
            praesentium rerum tempora rem laboriosam at facilis quas maxime. Provident nesciunt magni, omnis eveniet ad laboriosam, 
            eos, ut vel ea hic aut.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam harum cupiditate, voluptates repudiandae nemo 
            libero ipsam consectetur nostrum! Doloremque accusantium voluptatem inventore molestiae, eaque accusamus dolore ex 
            praesentium rerum tempora rem laboriosam at facilis quas maxime. Provident nesciunt magni, omnis eveniet ad laboriosam, 
            eos, ut vel ea hic aut.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam harum cupiditate, voluptates repudiandae nemo 
            libero ipsam consectetur nostrum! Doloremque accusantium voluptatem inventore molestiae, eaque accusamus dolore ex 
            praesentium rerum tempora rem laboriosam at facilis quas maxime. Provident nesciunt magni, omnis eveniet ad laboriosam, 
            eos, ut vel ea hic aut.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam harum cupiditate, voluptates repudiandae nemo 
            libero ipsam consectetur nostrum! Doloremque accusantium voluptatem inventore molestiae, eaque accusamus dolore ex 
            praesentium rerum tempora rem laboriosam at facilis quas maxime. Provident nesciunt magni, omnis eveniet ad laboriosam, 
            eos, ut vel ea hic aut.
        </p>
    </div>
</section>

<app-scroll-arrow [targetSection]="'about-me-section'" [marginTop]="'mt-20'"></app-scroll-arrow>
