/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.fluid-horizontal-padding {
  padding-left: clamp(1rem, 25vw, 25rem);
  padding-right: clamp(1rem, 25vw, 25rem);
}

.body-gradient {
  background: 
  radial-gradient(
    ellipse 50% 500px at top,
    rgba(59, 130, 246, 0.2) 0%,   /* azul tenue brillante */
    transparent 100%
  ),
  linear-gradient(
    to bottom,
    #010c1d,
    #010c1d
  );
}

html, body{
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}