/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.body-gradient {
  background: 
  radial-gradient(
    ellipse 50% 500px at top,
    rgba(59, 130, 246, 0.2) 0%,
    transparent 100%
  ),
  linear-gradient(
    to bottom,
    #010c1d,
    #010c1d
  );
}

html, body{
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Esta es una clase para controlar el margen en la pantalla en las secciones (tambien se puede hacer con clamp()) */
.fluid-horizontal-padding {
  padding-inline: 1rem;
}

/* Scroll Personalizado */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #010c1d;
}

::-webkit-scrollbar-thumb {
  background: #93C5FD;
  border-radius: 9999px;
}

/* Este es un media query para que el margen cambie en la pantalla de tablets en las secciones */
@media (min-width: 768px) {
  .fluid-horizontal-padding {
    padding-inline: 5vw;
  }
}

/* Este es un media query para que el margen cambie en la pantalla de desktops en las secciones */
@media (min-width: 1100px) {
  .fluid-horizontal-padding {
    padding-inline: 21vw;
  }
}